{% extends 'PeliSeries/base.html' %}
{% load static %}
{% block main %}
    <div class = "busqueda">
        <form class="formApi">
            <button>
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                    <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <input class="input" placeholder="Type your text" type="search" id = "pelicula">
            <button class="reset" type="reset" >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        
        </form>
        <form class = "form-button">
            <button class = "button-movie" id ="buscar"> Buscar
            </button>
        </form>
    </div>
    {% comment %} <form >
        <button class = "button-movie"> Hover me
        </button>
    </form> {% endcomment %}

    <section class="grid-articulos" id = "grid_artics">
        <!-- ITEM 1 -->
        {% comment %} {% for peli in pelis %}
        <article class="item">
            <img src="{{ peli.caratula.url }}" alt="" srcset="" class="box">
            <h3>{{peli.titulo}}</h3>   
           
        </article>
        {% endfor %} {% endcomment %}
    </section>
    <script type="text/javascript" src="{% static 'js/movies.js' %}"></script>

{% endblock %}
