{% extends 'PeliSeries/base.html' %}
{% block main %}
         <section class="infoindex">
                <article class="informativo">
                    <center>
                        <div class="sub-box">
                            <h2>Movies Collection, las mejores recomendaciones de películas y series para que disfrutes en tu casa.</h2>
                            <!-- aprender sobre las peliculas -->
                            <p>Síguenos semanalmente para mantenerte actualizado</p>
                        </div>
                    </center>
                    <center>
                        <div class="sub-box">
                            <img src="/IMG/index/index_1.jpg" alt="">
                        </div>
                    </center>
                </article>


                <article class="informativo">
                    <center>
                        <div class="sub-box">
                            <a href="indexFormulario.html"><img src="/IMG/index/Formulario_2.png" alt=""></a>
                        </div>
                    </center>
                    <center>
                        <div class="sub-box">
                            <h2>También informate de las últimas novedades del cine en el mundo</h2>
                            <p>Si tienes dudas puedes dejarnos tu comentario en nuestro apartado de contacto</p>
                        </div>
                    </center>
                    
                </article>
            </section>
{% endblock main %}